$themePrimary: #13c2c2;

:root {
  --theme-primary: $themePrimary;
}

html {
  font-size: 16px;
}

.icon {
  fill: currentColor;
  width: 1.2em;
  height: 1.2em;
}

:where(.css-dev-only-do-not-override-smy3mz).ant-btn-primary {
  background-color: $themePrimary !important;
}
